:root {
    --main-bg-color: #000000;
    --primary-dark-color: #111111;
    --main-dark-color: #222222;
    --main-font-color: #ffffff;
    --style-font-colour: #eb9c00;
    --design-font: 'Caveat', cursive;
    --heading-font: 'Bebas Neue', sans-serif;
    --secondary-heading-font: 'Roboto Mono', monospace;
    --common-font: 'Playfair Display', serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 8.5vh 72.5vh 10vh;
    grid-template-columns: 12vw 67vw 20vw;
    grid-gap: 10px;
    background-color: var(--main-bg-color);
    font-family: var(--design-font);
    color: var(--main-font-color);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    grid-area: 1 / 2 / 1 / 2;
    background-color: var(--main-dark-color);
    border-radius: 1vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: var(--primary-dark-color);
    border-radius: 1vw 0 0 1vw;

}

.logo img {
    max-width: 150%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.box-and-button {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

form {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-box {
    font-size: 0.5rem;
    width: 28vw;
    height: 50%;
    /* padding: 1% 0; */
    background-color: var(--primary-dark-color);
    border-radius: 0 1vw 1vw 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--style-font-colour);
    text-indent: 1vw;
}


.search-txt {
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 50%;
    padding-left: 2%;
    background-color: var(--primary-dark-color);
    border-radius: 1vw 0 0 1vw;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: var(--style-font-colour);
}

.searchtext {
    padding-left: 1%;
}

.notification {
    margin: 1%;
    color: var(--primary-dark-color);
    padding: 0.6rem 0.8rem;
    border-radius: 100%;
    background-color: var(--style-font-colour);
}

.plans {
    text-align: center;
    margin: 1%;
    font-size: 1rem;
    padding: 0.1em 0.5em;
    border-radius: 1vw;
    border: 1px solid var(--style-font-colour);
}

input::placeholder {
    font-size: 1rem;
}

nav {
    font-family: var(--common-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: 1 / 1 / 4 / 1;
    font-size: 1vw;
    padding: 0 1vw;
    background-color: var(--main-dark-color);
    border-radius: 0 1vw 1vw 0;
    text-align: center;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.4vw;
    margin: 5% 0;
    padding: 10% 0;
    list-style: none;
    border-radius: 1em;
}
.nav-tabs:not(.nav-profile){
    cursor: pointer;
}

.nav-tabs:hover:not(.nav-profile) {
    background-color: var(--primary-dark-color);
}

.nav-visible {
    margin-right: 1vw;
}

.nav-hidden {
    color: var(--style-font-colour);
}

.nav-profile {
    display: flex;
    font-size: 1vw;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 10%;
    border-bottom: 1px solid white;
    border-radius: unset;
}

.profile-circle {
    font-size: 2vw;
    padding: 0.4vw 0.5vw;
    border: 1px solid white;
    border-radius: 50%;
}

.user-name {
    font-family: var(--heading-font);
    font-size: 1.5em;
    padding-top: 5%;
    color: var(--main-font-color);
}

.copyright {
    background-color: var(--primary-dark-color);
    font-size: 80%;
    padding: 12% 5%;
    margin-bottom: 8%;
    text-align: center;
    border-radius: 1vw;
}

#open-nav {
    display: none;
    color: var(--style-font-colour);
}

main {
    scrollbar-width: thin;
    scrollbar-color: var(--style-font-colour) var(--main-dark-color);
    grid-area: 2 / 2 / 2 / 2;
    background-color: var(--main-dark-color);
    border-radius: 1vw;
    overflow: auto;
}

.sub-title {
    font-size: 1.5rem;
    font-family: var(--heading-font);
    margin: 15px 0;
    padding: 0 10px;
}

.inner-home-section,.inner-library-section,.inner-my-music-section {
    width: 100%;
    /* padding: 10px; */
    overflow-x: hidden;
}

.song-card-container {
    scrollbar-width: thin;
    scrollbar-color: var(--style-font-colour) var(--main-dark-color);
    width: 100%;
    padding: 10px;
    display: inline-flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
}

.song-card {
    min-width: 180px;
    max-width: 180px;
    height: 230px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(235, 156, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}

.song-img {
    grid-area: 1 / 1 / 1 / 1;
    overflow: hidden;
    padding: 0;
}

.song-img>img {
    max-width: 100%;
    max-height: 150%;
    padding: 0;
}

.song-details {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    padding: 1px;
}

.song-name {
    padding: 3px 0;
    display: block;
    color: var(--style-font-colour);
    border-bottom: 1px solid black;
}

.playlist-card-container {
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.playlist-card {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.playlist-img {
    min-width: 30%;
    max-width: 40%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; 
}

.playlist-img > img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.playlist-details {
    padding: 0 10px;
}

.downloaded-song-container{
    width: 100%;
    margin: 0 10px;
}
.downloaded-song{
    width: 100%;
    height: 80px;
    margin: 5px 0;
    padding-left: 10px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    list-style-position: inside;
}
.downloaded-song-number{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
}
/* .downloaded-song-img>img{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
} */
.downloaded-song-name-and-details{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.downloaded-song-name{
    font-size: 1.5rem;
}
.downloaded-song-details{
    display: flex;
    justify-content: space-between;
}
.main-section {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    text-transform: capitalize; */
    width: 100%;
    /* height: 100%; */
    /* text-align: center; */
    overflow-x: hidden;
}

aside {
    grid-area: 1 / 3 / 3 / 4;
    background-color: var(--main-dark-color);
    border-radius: 1vw 0 0 1vw;
    text-align: center;
}

.ad {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 10px solid black;
    /* background-color: var(--main-bg-color); */
}
.ad-container{
    width: 80%;
    padding: 2px 0;
    padding-bottom:10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px  rgba(235, 156, 0, 0.2);
}
.ad-container>h3{
    font-size: 1.2rem;

}
.ad-container > button{
    padding: 3px;
    margin-top: 1px;
    background-color: var(--style-font-colour);
    color: var(--main-bg-color);
    border-radius: 100px;
    border: 0;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
}
.song-info {
    width: 100%;
    height: 60%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-song-img{
    min-width: 70%;
    max-width: 80%;
    min-height: 50%;
    padding: 0;
    position: relative;
}
.info-song-img > img{
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
}
.info-song-details{
    margin: 10px 0;
    margin-left: 20px;
    align-self: flex-start;
    display:grid;
    grid-template-rows: 50% 50%;
    text-align: left;
    gap: 10px;
    color: var(--style-font-colour);
    font-size: 1.5rem;
}
.add-song-name,.add-movie-name{
    color: white;
}
#music-player {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 3/ 2 / 4 / 4;
    background-color: var(--main-dark-color);
    font-size: 2vw;
    border-radius: 1vw;

}

@media screen and (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        grid-template-rows: unset;
    }

    body {
        margin: 0 10px;
        grid-template-rows: 8.5vh / 75vh /10vh;
        grid-template-columns: 95vw;
        gap: 10px;
    }

    header {
        grid-area: 1 / 1 / 1 / 1;

    }

    .logo {
        width: 15%;
    }

    .box-and-button {
        width: 85%;
        justify-content: space-around;
    }

    .notification {
        margin-right: 3%;
        padding: 1.5% 2%;
    }

    .plans {
        text-align: center;
        margin: 1%;
        font-size: 0.7rem;
        padding: 0.3em;
        border-radius: 1vw;
        border: 1px solid var(--style-font-colour);
    }

    #search-box {
        position: relative;
        width: 90%;
        margin-right: 3%;
    }

    .searchtext {
        display: none;
    }

    .search-txt {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        z-index: 1;
        position: relative;
        left: 16.5%;
        background-color: var(--style-font-colour);
        border-radius: 100px 0 0 100px;
    }

    #search-box {
        color: var(--main-font-color);
        border: 1px solid var(--style-font-colour);
        border-radius: 100px;
    }

    input::placeholder {
        font-size: 0.5rem;
        text-indent: 20%;
    }

    main {
        grid-area: 2 / 1 / 2 / 1;
    }


    #music-player {
        display: none;
        grid-area: unset;
    }

    #nav {
        all: unset;
        width: 100%;
        grid-area: 3/1/3/1;
        border-radius: 0 0 1vw 1vw;
        background-color: var(--style-font-colour);

    }

    #nav-bar {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav-tabs {
        align-items: center;
        padding: 10px 8px;
    }

    .fas:not(.fa-search) {
        font-size: 7vw;
    }
    aside,
    .copyright,
    .nav-profile,
    .nav-hidden,
    .nav-toggle,.downloaded-song-artist-name {
        display: none;
    }


}

